<div class="about">
    <p class="lead">
    Germany Germany is an electronic indie pop project from Victoria, BC. Germany Germany is the main musical project by Drew Harris, though it often features friends & contributors.
    </p>
    <p class="lead">
    The project has been around since 2009 and has explored different genres through several EPs and LPS, and Drew has performed under the Germany Germany moniker in Victoria, Vancouver, New York, and Paris, among other locations.
    </p>
</div>