<hr class="featurette-divider">

<div class="featurette">
  <img class="featurette-image pull-right" src="img/willow.jpg">
  <h2 class="featurette-heading">Willow <span class="muted">2015</span></h2>
  <p class="lead">The 10th Germany Germany record.</p>
  <p class="lead">
    Price: $5+
  </p>
  <div class="buy-link">
    <a href="http://grmnygrmny.bandcamp.com/album/willow" class="btn btn-primary btn-large">Buy on Bandcamp</a>
  </div>
</div>

<hr class="featurette-divider">            


<div class="featurette">
  <img class="featurette-image pull-right" src="img/selftitled.jpg">
  <h2 class="featurette-heading">Self Titled <span class="muted">2014</span></h2>
  <p class="lead">The first Germany Germany album recorded with a full band.</p>
  <p class="lead">
    Price: $5+
  </p>
  <div class="buy-link">
    <a href="http://grmnygrmny.bandcamp.com/album/germany-germany" class="btn btn-primary btn-large">Buy on Bandcamp</a>
  </div>
</div>

<hr class="featurette-divider">

<div class="featurette">
  <img class="featurette-image pull-right" src="img/reconnect.jpg">
  <h2 class="featurette-heading">Reconnect <span class="muted">2014</span></h2>
  <p class="lead">The third full-length Germany Germany LP (after Adventures and Blank Mind Empty Heart), featuring vocals by Kotomi and Brothertiger.</p>
  <p class="lead">
    Price: $5+
  </p>
  <div class="buy-link">
    <a href="http://grmnygrmny.bandcamp.com/album/reconnect" class="btn btn-primary btn-large">Buy on Bandcamp</a>
  </div>
</div>

<hr class="featurette-divider">

<div class="featurette">
  <img class="featurette-image pull-right" src="img/ss.jpg">
  <h2 class="featurette-heading">Star System <span class="muted">2013</span></h2>
  <p class="lead">A collection of songs that didn't fit on any prior releases.</p>
  <p class="lead">
    Price: $0+
  </p>
  <div class="buy-link">
    <a href="http://grmnygrmny.bandcamp.com/album/star-system" class="btn btn-primary btn-large">Buy on Bandcamp</a>
  </div>
</div>

<hr class="featurette-divider">

<div class="featurette">
  <img class="featurette-image pull-right" src="img/ls2.jpg">
  <h2 class="featurette-heading">Last Summer II <span class="muted">2013</span></h2>
  <p class="lead">Edited and remastered version of Last Summer, originally released in 2010.</p>
  <p class="lead">
    Price: $0+
  </p>
  <div class="buy-link">
    <a href="http://grmnygrmny.bandcamp.com/album/last-summer-ii" class="btn btn-primary btn-large">Buy on Bandcamp</a>
  </div>
</div>

<hr class="featurette-divider">

<div class="featurette">
  <img class="featurette-image pull-right" src="img/bmeh.jpg">
  <h2 class="featurette-heading">Blank Mind Empty Heart <span class="muted">2012</span></h2>
  <p class="lead">The follow-up to Adventures, Blank Mind Empty Heart is an electronic pop record featuring vocalists Arrange, Kotomi and Steffaloo.  Blank Mind Empty Heart explores a combination of acoustic, electronic and synthetic sounds to create something unique.</p>
  <p class="lead">
    Price: $5+
  </p>
  <div class="buy-link">
    <a href="http://grmnygrmny.bandcamp.com/album/blank-mind-empty-heart" class="btn btn-primary btn-large">Buy on Bandcamp</a>
  </div>
</div>

<hr class="featurette-divider">

<div class="featurette">
  <img class="featurette-image pull-right" src="img/rw2.jpg">
  <h2 class="featurette-heading">Radiowave II <span class="muted">2012</span></h2>
  <p class="lead">Edited and remastered version of Radiowave, originally released in 2010.  Includes bonus cover tracks and a remix by Bear Mountain.</p>
  <p class="lead">
    Price: $0+
  </p>
  <div class="buy-link">
    <a href="http://grmnygrmny.bandcamp.com/album/radiowave-ii" class="btn btn-primary btn-large">Buy on Bandcamp</a>
  </div>
</div>

<hr class="featurette-divider">

<div class="featurette">
  <img class="featurette-image pull-right" src="img/adventures.jpg">
  <h2 class="featurette-heading">Adventures <span class="muted">2011</span></h2>
  <p class="lead">The first full Germany Germany LP.  Adventures was released in tandem with a limited European tour, including performances in Berlin and Paris.  Adventures was well received - several tracks, including "Take Me Home", rose to #1 on Hype Machine's Popular charts.  The album features guests Donne Tor on "Natural", Tim Walters on "Take Your Time", Emily Michiels on "Transatlantic" and Steffaloo on "Just Go".</p>
  <p class="lead">
    Price: $5+
  </p>
  <div class="buy-link">
    <a href="http://grmnygrmny.bandcamp.com/album/adventures" class="btn btn-primary btn-large">Buy on Bandcamp</a>
  </div>
</div>

<hr class="featurette-divider">

<div class="featurette">
  <img class="featurette-image pull-right" src="img/el.jpg">
  <h2 class="featurette-heading">Electrolove <span class="muted">2010</span></h2>
  <p class="lead">The second Germany Germany EP, Electrolove explores more indie-pop territory and features vocals by Jessica Morgan.</p>
  <p class="lead">
    Price: $0+
  </p>
  <div class="buy-link">
    <a href="http://grmnygrmny.bandcamp.com/album/electrolove" class="btn btn-primary btn-large">Buy on Bandcamp</a>
  </div>
</div>

<hr class="featurette-divider">

<div class="featurette">
  <img class="featurette-image pull-right" src="img/dd.jpg">
  <h2 class="featurette-heading">Distorted Disco <span class="muted">2010</span></h2>
  <p class="lead">The first Germany Germany EP. Written in a dorm room, uploaded to Myspace and sent to a few indie electro blogs, Distorted Disco is a collection of indie, electronic and experimental songs.  "Dreams That Pass" is derived from a class project to create music from non-musical sounds - all sounds in the song, aside from the vocals, were recorded from non-musical sources (faucets, cookware, etc.) and heavily pitch-shifted and effected.  </p>
  <p class="lead">
    Price: $0+
  </p>
  <div class="buy-link">
    <a href="http://grmnygrmny.bandcamp.com/album/distorted-disco" class="btn btn-primary btn-large">Buy on Bandcamp</a>
  </div>
</div>

<hr class="featurette-divider">